html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#ffffff, #d8eaff);
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(184, 177, 177, 0.6);
    border-radius: 10px;
}

.login-box img {
    height: auto;
    width: 60%;
    display: block;
    margin: 0 auto;
    padding-left: 25px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #000000;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #000000;
    font-size: 12px;
}

.login-btn {
    width: 100%;
    display: block;
    padding: 10px;
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: transparent;
    transition: background 0.5s ease, color 0.5s ease;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
}

.login-btn:hover {
    background-color: #000000;
    color: #fff;
}

.forgot-password {
    display: block;
    text-align: right;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    margin-top: 10px;
}

.forgot-password:hover {
    text-decoration: underline;
}


